@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --yellow_light: #ffc439d8;
    --yellow_dark: #d9a732b2 ;
    --light_gray : #ccc;
    --dark_gray : #1C2833;
  }

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


.container
{
    display: flex;
}


/* navbar  */

.navbar
{
  position: absolute;
    background: #111111;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 95vh;
    padding: 10px;
    margin: 5px;
    z-index: 100;
    border-radius:5px;
}

.truehide
{
  left: -10px;
  transition: all .5s  ease-in-out;
}
.falsehide
{
  left: -500px;
  transition: all .5s ease-in-out;
}



.account    
{
    background-color: #1D1D1D;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.pp
{
    background: #ccc;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.pdetail
{
    margin-left: 20px;
}

.items
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}

.items-link
{
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.items-link *
{
    margin-right: 10px;
}

.items-link:hover
{
   color:#DEAD37;
   background-color: #1D1D1D;
    
}


.userSettings
{
    border-top: #1d1d1d 2px solid;
}



/* landing */

.landing ,.about
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.landing div
{
  width: auto;
  padding-left: 10px;
}
.main-text
{
    font-size: 3rem;
    font-weight: 900;
    margin: 10px;
}

.m-w
{
    color: #DEAD37;
}

.main-text span
{
    font-size: 3rem;
}

.sub-text
{
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* notices */

.notice-items
{
    background: #1d1d1d;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.notice-items:hover
{
  border: 1px solid #cccccc3d;
}

.notice-head
{
    font-size: 1.5rem;
}

.notice-sub
{
    font-size: 1.2rem;
}

.fadetext
{
    color: #cccccc7c;
    float: right;
}

/* materials */

.folder
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    flex-wrap: wrap;
}

.subfolder
{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: #ccc 1px solid;
}
.subfolder:hover
{
  background: #1d1d1d;
}




/* attendance  */
.m-flex
{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
background: #1d1d1d;

}

.m-flex-i
{
    flex: 1;
    background: #111111;
    margin: 10px;
    padding: 10px;
}

.l-flex
{
    display: flex;
    align-items: center;
    justify-content: center;
background: #1d1d1d;


}

.l-flex-i
{
    flex: 1;
    background: #111111;
    margin: 10px;
    padding: 10px;
}

.cardhead
{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #cccccc33 solid 1px;
    padding: 5px;
}
.cardhead *
{
    margin: 5px;
}

.carditems-t
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.carditems
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carditems div{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    flex: 1;
    margin: 5px;
}

.carditems div div{
    background: #1D1D1D;
    margin: 10px;
    padding: 10px;
}

 .pre{
    border-left: solid #399949 2px;
    background-color: #1d1d1d;
    padding: 10px;

}
 .abs{
    border-left: solid #6F2624 2px;
    background-color: #1d1d1d;
    padding: 10px;


}


/* overview  */
.overview
{
    flex-direction: column;
}
.sub-overview
{
    display: flex;
}
.sub-overview div
{
    flex: 1;
    background: #1D1D1D;
    margin: 10px;
}
.graph
{
    background: #1d1d1d;
    height: 40vh;
    margin: 10px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new
{
    background-color: #111111 !important;
}

.material-embedded
{
    width: 100%;
    height: 80vh;
    border: none;
    overflow: visible;
}

/* attendance admin */
.table-container {
    display: flex;
    flex-direction: column;
  }
  
  .table-row {
    display: flex;
  }
  
  .header-row {
    font-weight: bold;
  }
  
  .cell {
    flex-basis: 100px; /* Adjust the width as needed */
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  input[type="date"],
  input[type="checkbox"] {
    margin-left: 4px;
  }
  

  /* //attendace */


  .att-display
  {
    display: flex;
    flex-direction: column;
    background: #1d1d1d;
    align-items: center;
  }

  .att-head
  {
    display: flex;
    background: #1d1d1d;
 
    width: 100%;
    
    
  }
  .att-item
  {
    
    padding: 10px;
    border-bottom:1px solid #111111 ;
    margin: auto;
    width: 100%;
    
  }


  .individualData
  {
    display: flex;
    width: 100%;
 
    align-items: center;
  }
  .individualData input[type=checkbox]
  {
  flex: 1;
  width: 20px;
  height: 20px;
  
  }
  .individualData div
  {
  flex: 1;
  }


  /* admin notives */

  .userform
  {
    display: flex;
    flex-direction: column;
    background: #1d1d1d;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .formhandle 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .formhandle  input
  {
    padding: 10px;
    margin: 10px;
    flex: 1;

  }
  .formhandle  textarea
  {

width: 100%;
    height: 40px;
    margin: 10px;
    padding: 10px;
  }

  .ibody
  {
    height: 20vh !important;
  }
  
  

/* globals  */

/* loader */
.loader-page {
    background-color: #111111;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 4px solid #ccc;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* ....................   */

input[type=date]
{
    background: #1D1D1D;
    padding: 10px;
    color: #ccc;
    border: none;
    margin: 10px;
    border: 1px solid #cccccc3d;
    color-scheme: dark;
}
input[type=date]:hover
{
    background: #111111;

}

.head
{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
select
{
    border: none;
    padding: 10px;
    background: #1d1d1d	;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.btn
{
    width: 100px;
    padding: 10px;
    margin: 10px;
    background: #DEAD37;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #111111;
}

.fade
{
    border:2px solid #1d1d1d;
    color: #ccc;
    background: #111111;

}
.fade:hover
{
    background: #1d1d1d !important;
}

.btn:hover
{
    background: #D8A01D;

}

.main-container
{
    color: #ccc;
    background:#111111 ;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    height:95vh;
    overflow-y: scroll;
    
}



a 
{
    text-decoration: none;
    color: #ccc;
}

.floatingbtn
{
  padding: 10px;
  bottom: 0;
  background-color: #D8A01D;
  border: transparent 10px;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin: 30px;
}

.floatingbtn:hover{
  background-color: #dfa41a;
  box-shadow: #D8A01D 0px 0px 10px;
}

.truebtn
{
  transform: translateX(180px);
  transition: all .5s ease-in-out;

}
.falsebtn
{
  transition: all .5s ease-in-out;

}

.showfile
{
  width: 100%;
  background-color: #111111;
  
  position: absolute;
}

@media only screen and (max-width: 600px) {

  .navbar{
    width: 45%;
  }
  .portfolio
  {
    display: none;
  }
}